*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: 90% 10%;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #28b6ee;
    margin: 0 auto;
    animation: animate 3s linear infinite;
    font-family: 'Khula', sans-serif;
    text-shadow:
        0 0 20px #a399a3,
        0 0 12px #bdb1bbee,
        0 0 50px rgba(191, 176, 192, 0.856);
    grid-area: header;
}

@keyframes animate {
    0% {
        filter: hue-rotate(30deg);

    }
}

p {
    font-size: 50px;
    justify-content: space-between;

}

.image1 {
    border-style: solid;
    border-color: #f303f3;
    width: 30em;
    float: right;
    border-radius: 5%;
}

header {
    color: white;
    grid-area: header;
}


nav {
    grid-area: nav;
}

main {
    color: white;
    grid-area: main;
}

aside {
    color: #ffffff;
    grid-area: aside;
}

footer {
    margin-top:auto;
    color: white;
    grid-area: footer;
}






input {
    display: grid;
    width: 200px;
    border-radius: 9px;
}


h4{
    color: #8a8b8b;
    font-size: 20px;
}


.container{
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    position: sticky;
    top: 100%;
	background-color: #24262b;
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.5s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


iframe{
    padding-top: 70px;
    width: 320px;
    margin-top: 140px;
    height: 350px;
}

h3{
    font-family:cursive;
    padding-left: 10px;
    font-size: 30px;
}