* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(90deg, #474E68 0%, #50577A 25%, #6B728E 100%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

.showNav {
    height: 1.1em;
    width: 1.25em;
    display: grid;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.3px;
    margin-top: 1.2em;
    margin-left: 0.7em;
    
}
.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}


nav {
    display: block;
    background-image: linear-gradient(90deg, #202d5e 0%, #1e36ad 25%, #4c5ea7 100%);
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

nav a {
    color: #ffffff;
    text-transform: uppercase;
    padding: 1em;
    display:grid;
}

a:hover {
    background: #dc24ecde;
    color: #03f34b;
    transition: 0.5s;

}

h1 {
    font-size: 50px;
    text-align: center;
    color: #28b6ee;
    margin: 0 auto;
    animation: animate 3s linear infinite;
    font-family: 'Khula', sans-serif;
    text-shadow:
        0 0 20px #a399a3,
        0 0 12px #bdb1bbee,
        0 0 50px rgba(191, 176, 192, 0.856);
    grid-area: header;
}

@keyframes animate {
    0% {
        filter: hue-rotate(360deg);

    }
}

p {
    font-size: 3em;
    justify-content: space-between;

}

.image1 {
    border-style: solid;
    border-color: #f303f3;
    width: 25em;
    float: right;
    border-radius: 5%;
}

header {
    color: white;
    grid-area: header;
}


nav {
    grid-area: nav;
}

main {
    color: white;
    grid-area: main;
}

aside {
    color: #ffffff;
    grid-area: aside;
}

footer {
    margin-top: 23em;
    color: white;
    grid-area: footer;
}

.image2{
    padding: 2px;
    width: 25em;
    border-radius: 5%;
}

.contact {
    padding: 20px;
    margin: 20px;
    grid-area: aside;
}

input {
    display: grid;
    width: 200px;
    border-radius: 9px;
}

#clicked:target nav{
    display: none;
}