*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(90deg, #474E68 0%, #50577A 25%, #6B728E 100%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

.showNav {
    grid-area: header;
    height: 1.1em;
    width: 1.25em;
    display: grid;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.3px;
    margin-top: 1.2em;
    margin-left: 0.7em;
    
}
.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}


nav {
    display: block;
    background-image: linear-gradient(90deg, #202d5e 0%, #1e36ad 25%, #4c5ea7 100%);
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

nav a {
    color: #ffffff;
    text-transform: uppercase;
    padding: 1em;
    display:grid;
}

a:hover {
    background: #dc24ecde;
    color: #03f34b;
    transition: 0.5s;

}

h1 {
    font-size: 50px;
    text-align: center;
    color: #28b6ee;
    margin: 0 auto;
    animation: animate 3s linear infinite;
    font-family: 'Khula', sans-serif;
    text-shadow:
        0 0 20px #a399a3,
        0 0 12px #bdb1bbee,
        0 0 50px rgba(191, 176, 192, 0.856);
    grid-area: header;
}

@keyframes animate {
    0% {
        filter: hue-rotate(360deg);

    }
}

p {
    font-size: 3em;
    justify-content: space-between;

}

.image1 {
    border-style: solid;
    border-color: #f303f3;
    width: 25em;
    float: right;
    border-radius: 5%;
}

header {
    color: white;
    grid-area: header;
}


nav {
    grid-area: nav;
}

main {
    color: white;
    grid-area: main;
}

aside {
    color: #ffffff;
    grid-area: aside;
}

footer {
    margin-top: 23em;
    color: white;
    grid-area: footer;
}

.image2 {
    grid-area: main;
    float: left;
    padding: 10px;
    height: auto;
    
}

.row::after{
    content: "";
    clear: both;
    display: table;

}


.contact {
    padding: 20px;
    margin: 20px;
}

input {
    display: grid;
    width: 200px;
    border-radius: 9px;
}

#clicked:target nav{
    display: none;
}


.container{
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    position: sticky;
    top: 100%;
	background-color: #24262b;
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.5s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.contact{
    background-size: cover;
    padding: 40px 0;
  }
  .contact h4{
    font-size: medium;
    text-align: center;
    color: #ddd;
  }
  .contactform{
    max-width: 37.5em;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .formtext{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background:  rgba(0, 247, 255, 0.055);
    padding: 20px 40px;
    outline: none;
    color: #ffffff;
    transition: 0.5s;
  }
  .formtext:focus{
    box-shadow: 0 0 10px 4px #ffffff;
  }
  textarea.formtext{
    resize: none;
    height: 120px;
    border-radius: 10px;
  }
  .formbtn{
    float: right;
    border: 0;
    background-image: linear-gradient(90deg, #37498a 0%, #142ead 25%, #12215c 100%);
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .formbtn:hover{
    background: #3346f3;
  }

  ::-webkit-input-placeholder{
    color: #ffffff;
  }

iframe{
    padding-top: 4.375em;
    width: 20em;
    margin-top: 8.75em;
    height: 21.875em;
}

h3{
    font-family:cursive;
    padding-left: 10px;
    font-size: 30px;
}

.card_container {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px;
    height: 650px;
}

.text {
    grid-row: 2 / 3;
    padding: 20px;
}

.text h2 {
    margin-top: 0;
}

.text h3 {
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 5px;
    font-weight: normal;
}

.text h5 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
}

img {
    width: 100%;
    object-fit: cover;
}

.gta{
    width:100%;
    height: 300px;
}

.text ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .text ul li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 800px) {
    .card {
      flex-direction: column;
    }
  }

  .headline  {
    padding-left: 5px;
    display: inline-flex;
    font-size: 40px;
    color: #00fdb1d5;
    flex-wrap: wrap;
}
  
  .experience {
    padding-left: 15px;
    font-size: 35px;
    align-self: start;
    text-align: left;
    padding-bottom: 10px;
  }

.progress{

    display: inline-flex;
    align-items:flex-start;
    flex-direction: column;
  }
.progress-text  {
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 20px;
  }

.progress-img{
    float: left;
    border-radius: 5px;
    padding-left: 15px;
    max-width: 500px;
}

.arrow{
    width: 500px;
    height: 40px;
}